<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>SiGesBi API</title>
  </head>
  <body>
    <h1>{{ message }}</h1>
    <p>Bienvenido a SiGesBi API</p>
    <nav>
      <ul>
        <li><a href="/formulario-libros">Formulario Libros</a></li>
        <li><a href="/formulario-revistas">Formulario Revistas</a></li>
        <li><a href="/formulario-dvds">Formulario DVDs</a></li>
        <li><a href="/formulario-usuarios">Formulario Usuarios</a></li>
      </ul>
    </nav>
  </body>
</html>
